/* Sunya extension, https://github.com/nevillepark/yellow-sunya */

/* 
Water.css (https://watercss.kognise.dev/) is included here by default, but you 
can easily swap in your favourite classless (or class-light) stylesheet. 
Preview some in action: 
  - https://www.cssbed.com
  - https://dohliam.github.io/dropin-minimal-css/
*/

@import url("water.css");

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('sunya-fonts/OpenSans-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: url('sunya-fonts/OpenSans-Italic.woff2') format('woff2');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url('sunya-fonts/OpenSans-Semibold.woff2') format('woff2');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	src: url('sunya-fonts/OpenSans-SemiboldItalic.woff2') format('woff2');
}

/* Variables */

:root {
	--font-sans: 'Open Sans', 'Segoe UI', sans-serif;
	--font-serif: Charter, 'Bitstream Charter', Georgia, Cambria, serif;
	--font-mono: 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	--font: var(--font-sans);
	--reg-weight: 400;
	--bold-weight: 600;
	--transition: 0.2s;
}

/* Fonts */

body {
	font-family: var(--font);
	font-weight: var(--reg-weight);
}

h1,h2,h3,h4,h5,h6,b,strong,th {
	font-weight: var(--bold-weight);
}

code,pre,tt {
	font-family: var(--font-mono);
	font-size: 0.9em;
	font-weight: 400;
}

/* Lists */

ul, ol {padding: 0 1em;}

/* Images */

figcaption {font-size: smaller;}

/* Navbar */

header nav ul {
	list-style-type: none;
	padding-left: 0px;
}
header nav ul li {
	display: inline-block;
	padding-right: 10px;
}

/* Footer */

footer {font-size: 0.9em;}


/* Extension classes */

	/* Anchor */
	.anchor-link {opacity: 0;}
	:hover > .anchor-link {opacity: 0.9;}

	/* Wiki */
	.layout-wiki .entry header p {font-size: 0.9em;}

	/* Previous/next */
	.previousnext {margin-bottom: 15px;}
	.previous + .next {float: right; display: inline-block;}

	/* Breadcrumbs */
	.breadcrumb {
		background-color: var(--background);
		border-radius: 1em;
		display: inline-block;
		font-size: smaller;
		padding: 0.25em 0.5em;
		margin-bottom: 1em;
	}

	/* Table of contents */
	.toc {list-style-type: none; padding-left: 0;}
